{% extends "PublicBundle:Public:base.html.twig" %}
{% block title %}{{ parent() }} > Albums{% endblock %}
{% block body %}
<h1>Albums</h1>

<div class="row">

{% for album in  albums %}

<div class="col-md-4">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div>
		<a href="{{ path("admin_public_album_edit",  {id : album.id}) }}" title="Editer l'album">Editer</a><br>
		<a href="{{ path("admin_public_album_delete",  {id : album.id}) }}" title="Supprimer l'album" onclick="return confirm('Etes vous sur de vouloir supprimer ceta album ?'+{{ album.nom }});" >Supprimer</a>
	</div>
	{% endif %}

	<div class="col-md-12">
		<h3><a href="{{ path("public.artiste", {id_artiste : album.idArtiste}) }}">lien artiste</a></h3>
		<h3><a href="{{ path("public.album", {id_album : album.id}) }}">{{ album.nom }}</a> <span class="date">({{ album.dateSortie |date("Y") }})</span></h3>
	</div>

	<div class="col-md-12">
		
		<a href="{{ path("public.album", {id_album : album.id}) }}"><img class="img-thumbnail" src="{{ asset('uploads/photo_album/' ) }}{{ album.pochette }}"/></a>
		<h3>Liste des titres : </h3>


		<p>{{ album.infos | truncate(320, true, '...') | nl2br  }}</p>

	</div>
</div>

	{% if loop.index % 3 == 0 and loop.length !=  loop.index %}

</div>
<div class="row">

	{% endif %}

{% endfor %}

</div> <!-- row -->

{% endblock %}
