<nav>
    <!-- <a href="{{ path("admin.home") }}" title="Accueil">Accueil</a> -->
    <a href="{{ path("admin.home") }}" title="Artistes">Artistes</a>
    <a href="{{ path("admin.home") }}" title="Albums">Albums</a>
    <a href="{{ path("admin.home") }}" title="Tags">Tags</a>
    <!-- <a href="{{ path("admin.home") }}" title="Articles">Articles</a> -->

</nav>